![sakila-db-model](https://github.com/iyadh97/Sakila/blob/9154d919ec7360deea1a7280e78dc8e27812d501/Data/sakila-db-model.png)

In [1]:
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "root" # (or whatever password you chose during mysql installation)
db_name = "sakila"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [9]:
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

# Queries

**1. What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and city.**

In [13]:
q1 = """
SELECT customer.first_name, customer.last_name, customer.email, customer.address_id,address.address, city.city
FROM customer
JOIN address USING (address_id)
JOIN city USING (city_id)
WHERE city_id = 312;
"""
pd.read_sql(q1, engine)

,first_name,last_name,email,address_id,address,city
0,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,256,1497 Yuzhou Drive,London
1,CECIL,VINES,CECIL.VINES@sakilacustomer.org,517,548 Uruapan Street,London

**2. What query would you run to get all comedy films? Note that the genre is called the category in this schema. Your query should return film title, description, release year, rating, and special features.**

In [14]:
q2 = """
SELECT category.name, film.title, film.description, film.release_year, film.rating, film.special_features
FROM film
JOIN film_category ON film.film_id = film_category.film_id
JOIN category ON film_category.category_id = category.category_id
WHERE category.name = 'Comedy';
"""
pd.read_sql(q2, engine)

,name,title,description,release_year,rating,special_features
0,Comedy,AIRPLANE SIERRA,A Touching Saga of a Hunter And a Butler who m...,2006,PG-13,"Trailers,Deleted Scenes"
1,Comedy,ANTHEM LUKE,A Touching Panorama of a Waitress And a Woman ...,2006,PG-13,"Deleted Scenes,Behind the Scenes"
2,Comedy,BRINGING HYSTERICAL,A Fateful Saga of a A Shark And a Technical Wr...,2006,PG,Trailers
3,Comedy,CAPER MOTIONS,A Fateful Saga of a Moose And a Car who must P...,2006,G,"Trailers,Commentaries,Deleted Scenes"
4,Comedy,CAT CONEHEADS,A Fast-Paced Panorama of a Girl And a A Shark ...,2006,G,"Commentaries,Deleted Scenes"
5,Comedy,CLOSER BANG,A Unbelieveable Panorama of a Frisbee And a Hu...,2006,R,"Trailers,Behind the Scenes"
6,Comedy,CONNECTION MICROCOSMOS,A Fateful Documentary of a Crocodile And a Hus...,2006,G,"Deleted Scenes,Behind the Scenes"
7,Comedy,CONTROL ANTHEM,A Fateful Documentary of a Robot And a Student...,2006,G,Commentaries
8,Comedy,CRAZY HOME,A Fanciful Panorama of a Boy And a Woman who m...,2006,PG,"Commentaries,Deleted Scenes"
9,Comedy,DADDY PITTSBURGH,A Epic Story of a A Shark And a Student who mu...,2006,G,"Deleted Scenes,Behind the Scenes"
10,Comedy,DOOM DANCING,A Astounding Panorama of a Car And a Mad Scien...,2006,R,"Trailers,Commentaries"
11,Comedy,DOWNHILL ENOUGH,A Emotional Tale of a Pastry Chef And a Forens...,2006,G,"Trailers,Commentaries,Deleted Scenes"
12,Comedy,DYING MAKER,A Intrepid Tale of a Boat And a Monkey who mus...,2006,PG,Behind the Scenes
13,Comedy,ELEMENT FREDDY,A Awe-Inspiring Reflection of a Waitress And a...,2006,NC-17,"Commentaries,Behind the Scenes"
14,Comedy,FERRIS MOTHER,A Touching Display of a Frisbee And a Frisbee ...,2006,PG,"Trailers,Deleted Scenes,Behind the Scenes"
15,Comedy,FIREBALL PHILADELPHIA,A Amazing Yarn of a Dentist And a A Shark who ...,2006,PG,"Trailers,Commentaries,Behind the Scenes"
16,Comedy,FLINTSTONES HAPPINESS,A Fateful Story of a Husband And a Moose who m...,2006,PG-13,"Trailers,Commentaries,Deleted Scenes,Behind th..."
17,Comedy,FRANKENSTEIN STRANGER,A Insightful Character Study of a Feminist And...,2006,NC-17,"Deleted Scenes,Behind the Scenes"
18,Comedy,FREEDOM CLEOPATRA,A Emotional Reflection of a Dentist And a Mad ...,2006,PG-13,"Trailers,Commentaries,Behind the Scenes"
19,Comedy,GOLD RIVER,A Taut Documentary of a Database Administrator...,2006,R,"Trailers,Commentaries,Deleted Scenes,Behind th..."
20,Comedy,GROUNDHOG UNCUT,A Brilliant Panorama of a Astronaut And a Tech...,2006,PG-13,"Trailers,Commentaries,Deleted Scenes,Behind th..."
21,Comedy,GUNFIGHT MOON,A Epic Reflection of a Pastry Chef And a Explo...,2006,NC-17,"Deleted Scenes,Behind the Scenes"
22,Comedy,HATE HANDICAP,A Intrepid Reflection of a Mad Scientist And a...,2006,PG,"Trailers,Commentaries,Behind the Scenes"
23,Comedy,HEAVEN FREEDOM,A Intrepid Story of a Butler And a Car who mus...,2006,PG,Commentaries
24,Comedy,HEDWIG ALTER,A Action-Packed Yarn of a Womanizer And a Lumb...,2006,NC-17,"Trailers,Commentaries,Behind the Scenes"
25,Comedy,HURRICANE AFFAIR,A Lacklusture Epistle of a Database Administra...,2006,PG,"Trailers,Commentaries,Behind the Scenes"
26,Comedy,HUSTLER PARTY,A Emotional Reflection of a Sumo Wrestler And ...,2006,NC-17,"Trailers,Commentaries,Behind the Scenes"
27,Comedy,JAWS HARRY,A Thrilling Display of a Database Administrato...,2006,G,Deleted Scenes
28,Comedy,KNOCK WARLOCK,A Unbelieveable Story of a Teacher And a Boat ...,2006,PG-13,Trailers
29,Comedy,LIFE TWISTED,A Thrilling Reflection of a Teacher And a Comp...,2006,NC-17,"Commentaries,Deleted Scenes"
30,Comedy,LION UNCUT,A Intrepid Display of a Pastry Chef And a Cat ...,2006,PG,"Trailers,Deleted Scenes"
31,Comedy,LONELY ELEPHANT,A Intrepid Story of a Student And a Dog who mu...,2006,G,"Trailers,Commentaries,Deleted Scenes,Behind th..."
32,Comedy,MALLRATS UNITED,A Thrilling Yarn of a Waitress And a Dentist w...,2006,PG,"Trailers,Commentaries,Deleted Scenes"
33,Comedy,MEMENTO ZOOLANDER,A Touching Epistle of a Squirrel And a Explore...,2006,NC-17,Behind the Scenes
34,Comedy,MULAN MOON,A Emotional Saga of a Womanizer And a Pioneer ...,2006,G,Behind the Scenes
35,Comedy,MYSTIC TRUMAN,A Epic Yarn of a Teacher And a Hunter who must...,2006,NC-17,"Commentaries,Behind the Scenes"
36,Comedy,OPERATION OPERATION,A Intrepid Character Study of a Man And a Fris...,2006,G,"Trailers,Commentaries,Deleted Scenes,Behind th..."
37,Comedy,PARADISE SABRINA,A Intrepid Yarn of a Car And a Moose who must ...,2006,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes"
38,Comedy,PARTY KNOCK,A Fateful Display of a Technical Writer And a ...,2006,PG,"Trailers,Behind the Scenes"
39,Comedy,PERFECT GROOVE,A Thrilling Yarn of a Dog And a Dog who must B...,2006,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes"
40,Comedy,PINOCCHIO SIMON,A Action-Packed Reflection of a Mad Scientist ...,2006,PG,"Commentaries,Behind the Scenes"
41,Comedy,PURE RUNNER,A Thoughtful Documentary of a Student And a Ma...,2006,NC-17,"Trailers,Deleted Scenes"
42,Comedy,RUSHMORE MERMAID,A Boring Story of a Woman And a Moose who must...,2006,PG-13,"Trailers,Commentaries,Deleted Scenes"
43,Comedy,SADDLE ANTITRUST,A Stunning Epistle of a Feminist And a A Shark...,2006,PG-13,"Trailers,Deleted Scenes"
44,Comedy,SATURN NAME,A Fateful Epistle of a Butler And a Boy who mu...,2006,R,"Trailers,Commentaries,Deleted Scenes,Behind th..."
45,Comedy,SEARCHERS WAIT,A Fast-Paced Tale of a Car And a Mad Scientist...,2006,NC-17,"Trailers,Commentaries,Deleted Scenes,Behind th..."
46,Comedy,SNATCH SLIPPER,A Insightful Panorama of a Woman And a Feminis...,2006,PG,Commentaries
47,Comedy,STAGE WORLD,A Lacklusture Panorama of a Woman And a Frisbe...,2006,PG,"Commentaries,Behind the Scenes"
48,Comedy,STRICTLY SCARFACE,A Touching Reflection of a Crocodile And a Dog...,2006,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes"
49,Comedy,SUBMARINE BED,A Amazing Display of a Car And a Monkey who mu...,2006,R,Trailers
50,Comedy,SWEDEN SHINING,A Taut Documentary of a Car And a Robot who mu...,2006,PG,"Deleted Scenes,Behind the Scenes"
51,Comedy,TRAINSPOTTING STRANGERS,A Fast-Paced Drama of a Pioneer And a Mad Cow ...,2006,PG-13,Trailers
52,Comedy,TRAMP OTHERS,A Brilliant Display of a Composer And a Cat wh...,2006,PG,Deleted Scenes
53,Comedy,VALLEY PACKER,A Astounding Documentary of a Astronaut And a ...,2006,G,"Commentaries,Deleted Scenes"
54,Comedy,VELVET TERMINATOR,A Lacklusture Tale of a Pastry Chef And a Tech...,2006,R,Behind the Scenes
55,Comedy,VERTIGO NORTHWEST,A Unbelieveable Display of a Mad Scientist And...,2006,R,"Commentaries,Behind the Scenes"
56,Comedy,WISDOM WORKER,A Unbelieveable Saga of a Forensic Psychologis...,2006,R,"Deleted Scenes,Behind the Scenes"
57,Comedy,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,NC-17,"Trailers,Commentaries,Behind the Scenes"

**3. What query would you run to get all the films that Johnny Lollobrigida was in? Your query should return the actor's last name, film title, and release year.**

In [16]:
q3 = """
SELECT actor.first_name, actor.last_name, film.title, film.release_year
FROM film
JOIN film_actor ON film.film_id = film_actor.film_id
JOIN actor ON film_actor.actor_id = actor.actor_id
WHERE actor.first_name = 'Johnny' AND actor.last_name='Lollobrigida';
"""
pd.read_sql(q3, engine)

   first_name     last_name                 title  release_year
0      JOHNNY  LOLLOBRIGIDA          AMADEUS HOLY          2006
1      JOHNNY  LOLLOBRIGIDA      BANGER PINOCCHIO          2006
2      JOHNNY  LOLLOBRIGIDA      BONNIE HOLOCAUST          2006
3      JOHNNY  LOLLOBRIGIDA           CHITTY LOCK          2006
4      JOHNNY  LOLLOBRIGIDA  COMMANDMENTS EXPRESS          2006
5      JOHNNY  LOLLOBRIGIDA     CONEHEADS SMOOCHY          2006
6      JOHNNY  LOLLOBRIGIDA      DADDY PITTSBURGH          2006
7      JOHNNY  LOLLOBRIGIDA       DAISY MENAGERIE          2006
8      JOHNNY  LOLLOBRIGIDA         ENOUGH RAGING          2006
9      JOHNNY  LOLLOBRIGIDA     ESCAPE METROPOLIS          2006
10     JOHNNY  LOLLOBRIGIDA           FIRE WOLVES          2006
11     JOHNNY  LOLLOBRIGIDA        FRONTIER CABIN          2006
12     JOHNNY  LOLLOBRIGIDA     GOODFELLAS SALUTE          2006
13     JOHNNY  LOLLOBRIGIDA    GRAIL FRANKENSTEIN          2006
14     JOHNNY  LOLLOBRIGIDA        GROOVE FICTION          2006
15     JOHNNY  LOLLOBRIGIDA          HALL CASSIDY          2006
16     JOHNNY  LOLLOBRIGIDA          HEAVENLY GUN          2006
17     JOHNNY  LOLLOBRIGIDA      KRAMER CHOCOLATE          2006
18     JOHNNY  LOLLOBRIGIDA         LOVE SUICIDES          2006
19     JOHNNY  LOLLOBRIGIDA      METAL ARMAGEDDON          2006
20     JOHNNY  LOLLOBRIGIDA       PACIFIC AMISTAD          2006
21     JOHNNY  LOLLOBRIGIDA      PATTON INTERVIEW          2006
22     JOHNNY  LOLLOBRIGIDA            POCUS PULP          2006
23     JOHNNY  LOLLOBRIGIDA   RIDGEMONT SUBMARINE          2006
24     JOHNNY  LOLLOBRIGIDA   RINGS HEARTBREAKERS          2006
25     JOHNNY  LOLLOBRIGIDA         SMILE EARRING          2006
26     JOHNNY  LOLLOBRIGIDA    SOLDIERS EVOLUTION          2006
27     JOHNNY  LOLLOBRIGIDA        STAR OPERATION          2006
28     JOHNNY  LOLLOBRIGIDA        SUNRISE LEAGUE          2006

**4. What query would you run to get the first and last names of all the actors in the movie titled "Bingo Talented"?**

In [20]:
q4 = """
SELECT actor.first_name, actor.last_name, film.title
FROM film
JOIN film_actor ON film.film_id = film_actor.film_id
JOIN actor ON film_actor.actor_id = actor.actor_id
WHERE film.title = 'Bingo Talented';
"""

pd.read_sql(q4, engine)

  first_name    last_name           title
0     GOLDIE        BRODY  BINGO TALENTED
1    CAMERON         WRAY  BINGO TALENTED
2       CARY  MCCONAUGHEY  BINGO TALENTED
3        JON        CHASE  BINGO TALENTED
4      RENEE         BALL  BINGO TALENTED

#### 5. What query would you run to get the customer_id associated with all payments greater than twice the average payment amount? (HINT: use 2* in your query to get twice the amount). Your result should include the customer id and the amount.

In [28]:
q5 = """
SELECT DISTINCT c.customer_id, p.amount
FROM customer c
JOIN payment p ON c.customer_id = p.customer_id

WHERE p.amount > (SELECT AVG(p.amount)*2 FROM payment p);
"""

pd.read_sql(q5, engine)

     customer_id  amount
0              1    9.99
1              2   10.99
2              3    8.99
3              3   10.99
4              4    8.99
..           ...     ...
651          595    9.99
652          595   10.99
653          597    8.99
654          599    9.99
655          599    8.99

[656 rows x 2 columns]

**6. What query would you run to list the first and last names of the 5 customers who have the highest number(count) of payments? You can title the number of payments as num_payments.**

In [29]:
q6 = """
SELECT customer.first_name, customer.last_name, COUNT(payment.payment_id) AS num_payments
FROM customer
JOIN payment ON customer.customer_id = payment.customer_id

GROUP BY customer.first_name,customer.last_name

ORDER BY num_payments DESC
LIMIT 5;
"""


pd.read_sql(q6, engine)

  first_name last_name  num_payments
0    ELEANOR      HUNT            46
1       KARL      SEAL            45
2     MARCIA      DEAN            42
3      CLARA      SHAW            42
4      TAMMY   SANDERS            41